<%= form_with(model: mailing_list_contact, local: true) do |form| %>
  <% if mailing_list_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mailing_list_contact.errors.count, "error") %> prohibited this mailing_list_contact from being saved:</h2>

      <ul>
      <% mailing_list_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :mailing_list_contact_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, id: :mailing_list_contact_email, class: "form-control" %>
    <small class="form-text text-muted">We won't share your email with anyone else.</small>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
