<p id="notice"><%= notice %></p>

<h1>Mailing List Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mailing_list_contacts.each do |mailing_list_contact| %>
      <tr>
        <td><%= mailing_list_contact.name %></td>
        <td><%= mailing_list_contact.email %></td>
        <td><%= link_to 'Show', mailing_list_contact %></td>
        <td><%= link_to 'Edit', edit_mailing_list_contact_path(mailing_list_contact) %></td>
        <td><%= link_to 'Destroy', mailing_list_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mailing List Contact', new_mailing_list_contact_path %>
